html{
  font-size: 8px;
}
body {
  font-family: "Raleway", sans-serif;
}
.col-xs-12{
  z-index: 0;
}
/*Loading Screen Section
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

*,html{margin:auto;padding:0}
.loader{
  background: black;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  position: relative;
  top: 8rem;
  height: 119rem;
}
.loader svg{
  width: 100%;
  height: 10rem;
  margin-top: 50rem;
  padding-top: 19px;
  display:inline-block;
  justify-content: center;
}
.loader h1{
  text-align: center;
  color: black;
  margin: 0 0 100px;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: darken(white, 5);
  padding: 20px 0;
  b{
    font-weight: 700;
  }
}
*/

/*Hamburger Menu*/
header{
  position: fixed;
  z-index: 5;
}
#main-menu{
  background-color:white;
  margin-bottom: 5rem;
  position: fixed;
  z-index: 6;
  font-family: sans-serif;
  font-weight: 200;
}
/* Screen reader only */
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}

/* Button styling */
.menu-toggle {
display: inline-block;
padding: .75em 15px;
line-height: 1em;
font-size: 2em;
color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
color: lightgrey;
}

/*
Default styles + Mobile first
Offscreen menu style
*/
.main-menu {
position: absolute;
left: -220px;
top: 0;
height: 100%;
overflow-x: visible;
transition: left 0.3s ease,
            box-shadow 0.3s ease;
z-index: 999;
}
.main-menu img{
  visibility: hidden;
}
.main-menu ul {
list-style: none;
position: absolute;
margin: 0;
padding: 2.5em 0 0;
/* Hide shadow w/ -8px while 'closed' */
-webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
   -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
        box-shadow: -8px 0 8px rgba(0,0,0,.5);
width: 200px;

z-index: 20;
}

.main-menu a {
display: block;
padding: .75em 2rem;
line-height: 1rem;
font-size: 2.5rem;
color: #337ab7;
text-decoration: none;
background:none;
}

.main-menu li:first-child a {
border-top: 5px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: lightgrey;
  cursor: pointer;
  transition: background .5s linear .1s;
}

.main-menu .menu-close {
position: absolute;
right: 0;
top: 0;
}

/*
On small devices, allow it to toggle...
*/
/*
:target for non-JavaScript
aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
left: 0;
outline: none;
-moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
-webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
position: relative;
z-index: 1000;
}

/*
We could us `.main-menu:target:after`, but
it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
position: absolute;
display: block;
content: "";
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 5;
opacity: .5;
cursor: default;
}

@supports (position: fixed) {
.main-menu,
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: fixed;
}
}

/*
Larger screen styling
Horizontal menu
*/
@media screen and (min-width: 768px) and (orientation:landscape) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  .main-menu img{
    visibility: visible;
    padding-left:2rem;
    padding-right: 2rem;
    padding-top:.5rem;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: fixed;
    left: auto;
    top: auto;
    height: 5rem;
    width: 100%;
    margin-bottom: 20px;
    z-index: 4;
    opacity: .7;
  }

  .main-menu ul {
    display: flex;

    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
  }

  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: lightgrey; /* Remove background from off-canvas styling */
    text-decoration: none;
    color: black;
    transition: background .5s linear .1s;
  }
}


/* Jumbotron Section*/
.jumbotron{
  color: black;
  background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-color: white;
  opacity: .8;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 127rem;
  overflow: hidden;
  text-align: center;
  padding-top: 0rem;
  margin-bottom: 0;
  z-index: 1;
}
.jumbotron .container{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}
.jumbotron h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20rem;
  padding-bottom: 4rem;
  letter-spacing: 2rem;
  font-weight: lighter;
}
.jumbotron p {
  max-width: 70rem;
  margin: auto;
  font-size: 4rem;
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}
.welcome{
  justify-content: center;
}
@media only screen and (max-width: 930px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
  .jumbotron p{
    font-size: 3.9rem;
  }
}

@media only screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
  .jumbotron p{
    font-size: 3.6rem;
  }
}
/*Scroll Animation*/
.jumbotron .scroll-container{
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#section05 a {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: .2rem;
  padding-top: 70px;
  color:#fff;
  margin-bottom: 2rem;
  text-decoration: none;
}
#section05 a span {
  position: absolute;
  top: 4rem;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
/* About Me Section*/
#about{
  min-height:20rem;
  max-height: 126rem;
  padding: 7rem 2rem;
  background-color: steelblue;
  width: 100%;
  display: block;
  z-index: 1;
  overflow: hidden;
}
#about .row{
  margin-top: 3rem;
}
#about .image-container{
  margin:0rem 0rem;
  overflow: hidden;
}
#about h2, #about p{
  color: white;
  text-align: right;
  font-weight: bold;
  letter-spacing: .3rem;
}
#about p{
  padding:2rem 1rem;
  transform: translate(0%, 50%);
  font-weight: lighter;
}
#about img{
  width:100%;
  height: auto;
  border-radius: 1rem;
}
#about .about-txt{
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width:600px){
  #about p{
    font-size: 1.5rem;
    padding:0rem 1rem;
    transform: translate(0%, 25%);
  }
  #about h2{
    font-size: 2rem;
  }
}
@media only screen and (min-width:600px){
  #about p{
    font-size: 2rem;
    padding:0rem 1rem;
    transform: translate(0%, 25%);
  }
  #about h2{
    font-size: 3rem;
  }
}
@media only screen and (min-width:900px){
  #about p{
    font-size: 3rem;
    padding:0rem 1rem;
    transform: translate(0%, 30%);
  }
  #about h2{
    font-size: 4rem;
  }
}
@media only screen and (min-width:1200px){
  #about p{
    font-size: 4rem;
    padding:0rem 1rem;
    transform: translate(0%, 35%);
  }
  #about h2{
    font-size: 6rem;
  }
}
@media only screen and (min-width:1500px){
  #about p{
    font-size: 5rem;
    padding:0rem 1rem;
    transform: translate(0%, 50%);
  }
}
@media only screen and (min-width:1500px){
  #about p{
    font-size: 5rem;
    padding:0rem 1rem;
    transform: translate(0%, 75%);
  }
  #about h2{
    font-size: 9rem;
    transform: translate(0%, 50%);
  }
  #about .about-txt{
    padding-right: 5rem;
  }
}
/*Languages & Resources Section*/
#languages-resources{
  font-family: "Raleway", sans-serif;
  min-height:20rem;
  max-height: 126rem;
  text-align: center;
  padding: 7rem 2rem;
  width: 100%;
  display: block;
  z-index: 1;
}
#languages-resources h2{
  font-size: 6.3rem;
  font-weight: bold;
  letter-spacing: .2rem;
}
#languages-resources h3{
  font-size: 3rem;
  font-weight: lighter;
}
#languages-resources p{
  width: 75%;
  margin: auto;
  visibility: hidden;
  z-index: 2;
  font-size: 2rem;
  padding: 2.8rem;
  height: 15rem;
  border-radius: .9rem;
}
@media only screen and (max-width:1200px){
  #languages-resources p{
    width:100%;
  }
}
#languages-resources .image-container:hover p{
  visibility: visible;
  background-color: #008CBA;
  opacity: 1;
  transition: background-color 2s ease .1s;
  transition: visibility;
  transition-delay:.1s;
}
#languages-resources .image-container{
  display: flex;
  text-align: center;
  min-height: 15rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  z-index: 1;
}
#languages-resources .languages, #languages-resources .resources{
  margin-top:10rem;
}
@media only screen and (max-width:1000px){
  #languages-resources .languages{
    margin-top:0rem;
  }
}
.resource, .language{
  display: block;
}
.jquery{
  background-image: url("../Images/jquery.png");
}
.bootstrap{
  background-image: url("../Images/bootstrap.png");
}
.github{
  background-image: url("../Images/github.png");
}
.html{
  background-image: url("../Images/html5.png");
}
.css{
 background-image: url("../Images/CSS3.png");
}
.js{
background-image: url("../Images/JS-logo.png");
}
/*Projects Section*/
#project-section{
  padding-top: 2rem;
  background-color: rgb(115,157,206);
  background-size: cover;
}
.project-head{
  margin:auto;
  text-align: center;
  color: rgb(255,255,255);
}
.project-head h2{
  font-size: 6rem;
  font-weight: bold;
}
.project-head p{
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.projects{
  padding:0;
  margin: auto;
}
.project{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.slick-slide {
  outline: none;
}
.carousel{
  max-width:90%;
  margin:0 auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width:500px){
  .carousel{
    max-width: 100%;
  }
}
.slick-slide img{
  width:100%;
}
/*Contact Section*/
.contact-section{
  display: block;
  background-size: cover;
  margin-left: 15rem;
}
@media only screen and (max-width:990px){
  .contact-section{
    margin-left:2rem;
    text-align: center;
  }
}
.contact-section h2{
  font-size: 5rem;
  padding: 3rem 0rem;
}
.contact-section .fab, .contact-section .fas{
  font-size: 10rem;
  color: rgb(115,157,206);
  padding-bottom: 4rem;
}
.contact-section p{
  font-size: 2.8rem;
  text-decoration: none;
}
.contact-section p:hover{
  text-decoration: none;
}
#contact, #github{
  margin: auto;
  padding: 5rem 0rem;
}
